@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.3);
}

.header__sticky {
    width: 100%;
    border-top: 3px solid #159957;
    border-bottom: 8px solid rgba(40, 40, 40, 0.1)
    min-height: 20rem;
    background: #fff;
    opacity: 0.9;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.header__wrapper {
    margin: 0 auto;
    max-width: 64rem;
    padding: 1rem 6rem;
}

.header__brand {
    font-family: 'Open Sans';
    color: #777;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

.header__brand, .header__nav {
    display: inline-block;
}

.header__nav {
    float: right;
}

.header__nav-link {
    font-size: 1.2rem;
    line-height: 1.6em;
    padding: 0rem 0.8rem;
    color: #159957;
}

.header__nav-link:hover {
    text-decoration: none;
    color: #000;
}



.action {
    margin-top: 4rem;
}
.action__item {
    display: inline-block;
    width: 28%;
    margin-right: 3%;
    padding: 0.5rem;
    background: #eee;
}

.action__logo {
    width: 100%;
    height: 128px;
}

.action__header {
    text-align: center;
}

.action__logo img {
    display: block;
    margin: 0 auto;
    opacity: 0.6;
}

.action__item:hover .action__logo img {
    opacity: 0.8;
}

.action__item:hover {
    text-decoration: none;
}
.action__item:hover .action__header {
    color: #222;
}

.header__image {
    width: 100%;
    background-color: #57B987;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 27rem;
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #57B987;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 27rem;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 5.25rem; }}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 4.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 3.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 2.25rem;
}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.5rem;
    }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}

.main-content h2 {
    font-size: 2.4rem;
}

.main-content h2 {
    font-size: 1.8rem;
}

.main-content h3 {
    font-size: 1.6rem;
}

.main-content p {
  margin-bottom: 1em;
  line-height: 1.6em;
}

.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }

.docs {
    margin-top: 5rem;
}
