<div class="container">
  <div class="row center pady-2 bordertop-block borderbottom-block logos">
    <h2 class="center padb-4">Sponsors</h2>
    <div class="col6">
      <a href="http://www.klokantech.com/">
        <img src="/img/klokantech-logo.png" alt="Klokan Technologies"/>
      </a>
    </div>
    <div class="col6">
      <a href="http://www.ifs.hsr.ch/Geometa-Lab.12520.0.html">
        <img src="/img/hsr-logo.png" alt="Geometalab HSR"/>
      </a>
    </div>
  </div>


  <div class="row center pady-4">
    <div class="col9 offset1">
      <p>Do you need <a href="http://www.klokantech.com/contact">
          commercial support</a>, help with rendering of your own vector 
          tiles, parallelisation in a cluster or Amazon Cloud, 
          <a href="http://www.tilehosting.com/">tile hosting</a>, or 
          efficient rendering of <a href="http://www.maptiler.com/">
            imagery and raster geodata</a>? 
            <a href="http://www.klokantech.com/contact">Contact us</a>.</p> 
    </div>
  </div>
</div>
