<meta charset="UTF-8">
<title>Free Vector Tiles from OpenStreetMap</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/normalize.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/github-light.css" media="screen">

<link href='//api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<link href='//api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.css' rel='stylesheet' />
<script src='//api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<script src='//api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.js'></script>
