<div id="navbar-top">
  <div class="container">
    <a class="title" href="/">
      <img src="/img/osm2vectortiles-logo-small-white.png" alt="OSM2VectorTiles logo">
      OSM2VectorTiles</a>
    <ul class="nav">
      <li><a href="/maps/">MAPS</a></li>
      <li><a href="/docs/">DOCS</a></li>
      <li><a href="/downloads">DOWNLOADS</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="https://github.com/osm2vectortiles/osm2vectortiles">
          <img class="octocat" src="/img/GitHub-Mark-Light-32px.png" alt="Github">
        </a></li>
    </ul>
    <div class="nav-mobile">
      <div id="nav-mobile-btn">H</div>
      <ul id="nav-mobile-nav">
        <li><a href="/maps/">Maps</a></li>
        <li><a href="/docs/">Docs</a></li>
        <li><a href="/data/download">Downloads</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://github.com/osm2vectortiles/osm2vectortiles">
            <img class="octocat" src="/img/GitHub-Mark-32px.png" alt="Github">
            &nbsp;GitHub
          </a></li>
      </ul>
    </div>
  </div>
</div>
