<div id="navbar-top">
  <div class="container">
    <a class="title" href="{{ site.baseurl }}">
      <img src="{{ site.baseurl }}img/osm2vectortiles-logo-small-white.png" alt="OSM2VectorTiles logo">
      OSM2VectorTiles</a>
    <ul class="nav">
      <li><a href="{{ site.baseurl }}maps/">MAPS</a></li>
      <li><a href="{{ site.baseurl }}docs/">DOCS</a></li>
      <li><a href="{{ site.baseurl }}data/download">DOWNLOADS</a></li>
      <li><a href="{{ site.baseurl }}faq">FAQ</a></li>
      <li><a href="https://github.com/osm2vectortiles/osm2vectortiles">
          <img class="octocat" src="{{ site.baseurl }}img/GitHub-Mark-Light-32px.png" alt="Github">
        </a></li>
    </ul>
    <div class="nav-mobile">
      <div id="nav-mobile-btn">H</div>
      <ul id="nav-mobile-nav">
        <li><a href="{{ site.baseurl }}maps/">Maps</a></li>
        <li><a href="{{ site.baseurl }}docs/">Docs</a></li>
        <li><a href="{{ site.baseurl }}data/download">Downloads</a></li>
        <li><a href="{{ site.baseurl }}faq">FAQ</a></li>
        <li><a href="https://github.com/osm2vectortiles/osm2vectortiles">
            <img class="octocat" src="{{ site.baseurl }}img/GitHub-Mark-32px.png" alt="Github">
            &nbsp;GitHub
          </a></li>
      </ul>
    </div>
  </div>
</div>
