/* Body */

html, body {
  height: 100%;
  font-family: $font-primary;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $body-bg;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
  max-width: $container-max;
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding: $container-padding-y $container-padding-x;
  &.main, &.main-small{
    margin-bottom: -$footer-height;
    padding-top: $navbar-top-height;
    min-height: 100%;
    &:after{
      content: "";
      display: block;
      height: $footer-height;
    }
  }
  &.main-small{
    padding-top: $navbar-top-small-height;
  }
}

.footer{
  color: $footer-color;
  background-color: $footer-color-bg;
  font-weight: $footer-fontweight;
  height: $footer-height + $footer-bordertop-size;
  position: relative;
  font-size: $footer-fontsize;
  line-height: $footer-fontsize;
  border-top: $footer-bordertop-size solid $footer-border-color;

  a{
    color: $footer-link-color;
    font-size: $footer-fontsize;
    line-height: $footer-fontsize;
    vertical-align: baseline;
    &:hover{
      color: $footer-link-hover-color;
      text-decoration: $footer-link-hover-decoration;
    }
  }

  .container{
    padding: $footer-padding;
  }

  .klokan{
    font-size: 46px;
    &::after{
      content: "";
      display: inline-block;
      background-color: $footer-color;
      width: 1px;
      height: $footer-fontsize;
      margin: 0 4px 0 14px;
    }
  }
  .social{

  }
}

@media(max-width: $sc-medium){
  .footer{
    a{
      font-size: $footer-fontsize / 3 * 2;
    }
    .klokan{
      font-size: 32px;
      &::after{
        height: $footer-fontsize / 3 * 2;
      }
    }
  }
}

*:focus {
  outline: none;
}

hr, .hr{
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-color;
}

/* article */
article, .article{
  & img, & iframe{
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* responsive images */
  img {
    max-width: 100%;
  }

  ol {
    list-style-type: decimal;
  }
}
