<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>osm2vectortiles by geometalab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/github-light.css" media="screen">
  </head>
  <body>
    <section class="header">
      <div class="header__sticky">
        <div class="header__wrapper">
          <a href="/"><h1 class="header__brand">OSM Vector Tiles</h1></a>
          <div class="header__nav">
            <a class="header__nav-link" href="/docs/get-started.html">Get Started</a>
            <a class="header__nav-link" href="/docs/overview.html">Docs</a>
            <a class="header__nav-link" href="/data/download.html">Downloads</a>
            <a class="header__nav-link" href="/docs/faq.html">FAQ</a>
          </div>
        </div>
      </div>
    </section>
    <section class="main-content">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/geometalab/osm2vectortiles">osm2vectortiles</a> is maintained by <a href="https://github.com/geometalab">geometalab</a>.</span>
      </footer>
    </section>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-68032536-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  </body>
</html>
